@DATABASE "ADB48"
@INDEX "ADB:Misc/Index.Text/Main"
@HELP "ADB:Misc/Help/Main"
@NODE "Main" "AmigaDOS For Beginners - Part 48 - The MOUNT Command"

@{B}@{U}@{JCENTER}AMIGADOS FOR BEGINNERS

BY FRANK BUNTON

@{" COPYRIGHT © FRANK P. BUNTON 1993-1998 " LINK "ADB:Misc/Read_Me_First!!/Copyright"}

PART 48 - THE MOUNT COMMAND@{UB}@{UU}

@{" The Mount List                  " LINK "List"} All AmigaDOS Versions
@{" DOSDrivers                      " LINK "DOSDrivers"} Version 2.1 Onwards  
@{" The MOUNT Command               " LINK "Mount"} All AmigaDOS Versions
@{" Mounting FROM a File            " LINK "From"} Version 1.3 Onwards  
@{" Mount List Entries Examples     " LINK "Examples"} All AmigaDOS Versions
@{" Non Standard MountList Entries  " LINK "NonStandard"} All AmigaDOS Versions
@{" Convert MountList to DOSDrivers " LINK "Converting"} Version 2.1 Onwards  
@{" DisMOUNTing                     " LINK "DisMounting"} All AmigaDOS Versions
@{" The REMRAD Command              " LINK "RemRad"} Version 1.3 Onwards  

@{JCENTER}=== End of Text ===
@{JLEFT}
@ENDNODE

@NODE "List" "Part 48 - The MOUNT Command - The MountList"

@{B}@{U}The MOUNTLIST@{UB}@{UU}

When we talked about @{"DEVICES" LINK "ADB:Parts_11-20/19.Devices/MAIN"} we mentioned that:-

- some devices are automatically recognised,
- some devices are recognised by having a "driver" file in the
  expansion directory,
- some devices need either a "mountlist" entry or a "DOSDriver" file
  and must be MOUNTed with the MOUNT command.

The MOUNTLIST is a text file stored in DEVS: that contains details about
various devices that can be MOUNTed. The format of entries in the list is
discussed under the heading @{"Mount List Examples" LINK "Examples"}.

A series of "KEYWORDS" are available for use in mountlists which pass
information from the mountlist to the system to tell it how to set up the
device. These are explained in the above mentioned @{"Mount List Examples" LINK "Examples"42}.

In most cases, the values given to these keywords should not be changed
by the average user. They have been set up to make the device work in
the proper way. However, there are a few keyword values that can be changed,
such as those that will change the size of the recoverable ram drive @{"RAD:" LINK "Examples"11}.

In @{B}v1.x@{UB} and @{B}v2.0,@{UB} each device to be mounted needs to have an entry in
the mountlist. The mountlist could thus comprise many entries in the one
file. The @{"MOUNT command" LINK "Mount"}, which automatically reads the "Mountlist", can
be a part of the startup-sequence or can be issued at a Shell prompt.

In @{B}V2.1 Onwards@{UB} the mountlist was, for @{B}standard@{UB} items, totally replaced
by @{"DOSDrivers" LINK "DOSDrivers"}. The difference between Mountlists and DOSDrivers is 
@{"explained here" LINK "Converting"}.

However, mountlists can still be employed in AmigaDOS v2.1 onwards for non
standard items. Even so, you should consider @{"converting" LINK "Converting"} entries in a mount
list into DOSDrivers.

@{JCENTER}=== End of Text ===
@{JLEFT}
@ENDNODE

@NODE "DOSDrivers" "Part 48 - The MOUNT Command - DOSDrivers"

@{B}@{U}DOSDrivers@{UU} (Version 2.1 Onwards)@{UB}

@{B}V2.1@{UB} saw the introduction of "DOSDrivers". These could be described as
@{"mountlists" LINK "List"} for @{B}individual@{UB} items. In other words, whereas a mountlist can
contain information about more than one device, as DOSDriver contains only
one device's details.

Apart from not having the Mountlist's @{"start and end indicators" LINK "Converting"}, the details
in a DOSDriver are the same as those in a mountlist.

@{"Click here" LINK "Converting"22} for an example which is the SPEAK: mountlist entry and
DOSDriver.

DOSDrivers can be stored in one or both of these directories:-

- Storage/DOSDrivers

- Devs:DOSDrivers

"Storage" is on the "Extras" disk for a floppy based system but is usually
on the hard drive boot partition for a hard drive system.

Those stored in the "Devs:DOSDrivers" directory are mounted automatically
from the startup-sequence file with the @{"MOUNT" LINK "Mount"23} Command. If you no longer
want them automatically mounted, then they can be moved to the
"Storage/DOSDrivers" directory.

Those stored in the "Storage/DOSDrivers" directory can used from there
for a single use by double clicking their icons or by using the "MOUNT"
command in a Shell/CLI window:-

  > MOUNT DeviceName       (If "Storage" is on the Sys: disk)

  > MOUNT Path/DeviceName  (If "Storage is not on Sys: disk)

or they can be moved or copied to the "Devs:DOSDrivers" directory for
permanent use.


@{JCENTER}=== End of Text ===
@{JLEFT}
@ENDNODE

@NODE "Mount" "Part 48 - The MOUNT Command - The MOUNT Command"

@{B}@{U}The MOUNT Command@{UB}@{UU}

@{B}Location@{UB}     - "C" directory (All AmigaDOS versions)

@{B}Purpose@{UB}      - To cause the system to recognise a device that is not
               recognised automatically or from the Expansion directory.

@{B}Availability@{UB} - All AmigaDOS Versions


The usage of this command can be one of:-

  MOUNT DeviceName:

  MOUNT DeviceName: FROM Path/FileName

I will discuss the first usage now and the @{"FROM" LINK "From"} usage later.

"DeviceName:" is the name of the device to be mounted. It MUST have the
colon ":" at the end of the name.

In @{B}v2.1 onwards,@{UB} MOUNT will look for the @{"DOSDriver" LINK "DOSDrivers"} associated with the
"DeviceName:" in these places:-

- in the "Devs:DOSDrivers" directory then, if not found there

- in "Sys:Storage/DOSDrivers" directory then, if not found there

- in the @{"Mountlist" LINK "List"} file in the Devs: directory.

In @{B}v1.x@{UB} and @{B}v2.0@{UB} MOUNT will look for details of the device to be mounted
in the "Devs:Mountlist" file.

The standard @{B}v2.1 onwards@{UB} startup-sequence file has this line:-

  MOUNT >NIL: DEVS:DOSDrivers/~(#?.info)

This is how DOSDrivers in the Devs:DOSDrivers directory are mounted on
boot up. It illustrates that MOUNT can be used on multiple DOSDrivers
by using wild card pattern matching.

The "~(#?.info)" means:-

  "Everything EXCEPT files matching the pattern within the brackets".

Thus it looks at all the file names but NOT their associated ".info" files.

It is therefore inadvisable to put anything else in the "Devs:DOSDrivers"
drawer. If MOUNT finds something else there it will fail with a @{"return code" LINK "ADB:Parts_21-30/29.FailAt_&_Return_Code/RC"}
of 20. This should not be a problem if @{"FAILAT 21" LINK "ADB:Parts_21-30/29.FailAt_&_Return_Code/FailAt"} has been used at the start
of the "Startup-Sequence" file (which is usual practice).

See also @{"Dismounting a device" LINK "Dismounting"}.


@{JCENTER}=== End of Text ===
@{JLEFT}








@ENDNODE

@NODE "From" "Part 48 - The MOUNT Command - The FROM Keyword"

@{B}@{U}Mounting From a File Name@{UU} Versions 1.3 Onwards@{UB}

In @{B}v1.3 onwards@{UB} the @{"MOUNT" LINK "Mount"} command can also be used in this format:-

  MOUNT DeviceName: FROM Path/FileName

The FROM keyword @{B}MUST@{UB} be included in the command line.

This could be used when, for example, you have standard settings for a
device in a DOSDriver or a Mountlist but occasionally want non standard
settings. Let's say you have a certain size RAD: drive always set up but
sometimes need a different size RAD:. You could have the small RAD:
mountlist saved as a separate file called "Devs:smallrad" then mount it, as
required, with:-

  > MOUNT rad1: FROM devs:smallrad

You must use something like "rad1:" as it must be called something other
than "RAD:" as you cannot have two devices with the same name.

@{B}IMPORTANT NOTE@{UB}

When mounting from a file, the device entry in that file @{B}MUST@{UB} be in the
@{"MountList" LINK "List"} format, @{B}not@{UB} the DOSDrivers format. In other words, the device
entry must start with:-

   DeviceName:      e.g.    RAD:

and end with:-

   #


@{JCENTER}=== End of Text ===
@{JLEFT}
@ENDNODE

@NODE "Examples" "Part 48 - The MOUNT Command - Examples"

@{B}@{U}Mount List Entries Examples@{UB}@{UU}


The following examples are taken form the @{B}Standard V1.3 MountList@{UB}

@{B}Users of AmigaDOS 2.0 onwards@{UB} should keep reading as the same principals
will apply to any mount lists that they use. I have used 1.3 only because
it has the most examples in it.

/* This is an example of a mount list entry for using the recoverable
   ram disk. Depending on the amount of memory you wish to devote to
   it, you may want to change the HighCyl value.
*/

    RAD: Device = ramdrive.device
               Unit = 0
               Flags = 0
               Surfaces = 2
               BlocksPerTrack = 11
               Reserved = 2
               Interleave = 0
               LowCyl = 0 ; HighCyl = 21
               Buffers = 5
               BufMemType = 1
    #

Let's go through this entry bit by bit.

First up, we can have comments in a mount list. The comments start with
"/*" and end with "*/". You can have any number of lines between the two.

Next comes the name of the device to be mounted, RAD: in this case. It
can be on the same line as the first keyword entry (as above) or on a
line of its own.

The entry must always end with "#" on a line of its own.

In the middle are all the "Keywords" and the values that are to be applied
to the device. Each keyword must be followed by "=" then the value. It
is these keywords that set up the device for you.

Keyword values that you, the user, can change in the above are:-

@{B}UNIT@{UB} - is the number of the device. If you have more than one RAD then
the next would be 1, then 2 and so on.

@{B}HIGHCYL@{UB} - sets the number of cylinders for the drive. As "lowcyl" must
always be 0 (zero) and as there must be an even number of cylinders, HighCyl
must be an odd number. If you wish to make a RAD: equal in size to a floppy
then set HighCyl at 79.

@{B}BUFFERS@{UB} - sets the number of buffers to be given to the drive. This is
similar to the @{"AddBuffers" LINK "ADB:Parts_41-50/50.AddBuffers/MAIN"} command.

@{B}BUFFMEMTYPE@{UB} - tells whether @{"Chip or Fast memory" LINK "ADB:Misc/Glossary/RAM-ROM"37} is to be used for the
buffers. Values that can be used are:-

- 0 & 1 = Any Memory
- 2 & 3 = Chip memory
- 4 & 5 = Fast Memory

All the other keywords should NOT be changed by the user! They are there
to set up RAD: in the same way that a physical drive is set up.

@{B}DEVICE@{UB} - tells which device driver to use. For RAD: it the Ramdrive.device
which, for @{B}v1.x,@{UB} is in "Devs:" directory. If this file is not in "Devs:"
then your RAD: will not work. In @{B}v2.x@{UB} it is hard coded into ROMs so don't
go looking for it in DEVS:!.

@{B}SURFACES@{UB} - tells the system how many sides on the disk. With physical
drives this is more meaningful. However, ram drives emulate physical drives
and thus 2 surfaces are nominated.

@{B}BLOCK PER TRACK@{UB} - again, emulating a physical disk, this is 11

@{B}RESERVED@{UB} - sets aside 2 blocks for a boot block so that your RAD: can
can be bootable.

@{B}LOWCYL@{UB} - must always zero.

@{B}FLAGS & INTERLEAVE@{UB} are rather technical in nature and not to be played
with by the beginner in AmigaDOS.

/* Mount Entry for the new Console Handler */

NEWCON:
    Handler = L:Newcon-Handler
    Priority = 5
    StackSize = 1000
#

/* This is an example of a non-filing system mount using a handler written
   in C.
*/

SPEAK:
    Handler = L:Speak-Handler
    Stacksize = 6000
    Priority = 5
    GlobVec = -1
#

These two mountlist entries contain keywords not in the RAD: entry.

The only one that the user can change here is:-

@{B}PRIORITY@{UB} - the higher the priority the quicker the task gets attention
from the CPU. Priorities are set with good reason so best to leave them
alone. However, if you find a device is not acting quickly enough because
some other program is taking too much CPU time then you could try upping
the priority.

The others are:-

@{B}HANDLER@{UB} - which tells the system which device handler to use form the
"L" directory.

@{B}STACKSIZE@{UB} - which tells how much @{"stack" LINK "ADB:Misc/Glossary/Stack"} memory to allocate

@{B}GLOBVEC@{UB} - (Global Vector) - another highly technical one - leave it alone!


@{JCENTER}=== End of Text ===
@{JLEFT}
@ENDNODE

@NODE "NonStandard" "Part 48 - The MOUNT Command - Non Standard MountList Entries"

@{B}@{U}Non Standard MountList Entries@{UB}@{UU}

If you get hold of a new device not covered by the standard mountlist
then it should come with its own mountlist entry which you just add to
the mountlist. For example, there is software called "MessyDOS" which
sets up the floppies to emulate PC drives. It comes with mountlist entries
for "MS0:" and MS1:".

If you have AmigaDOS V2.1 or later, then you could @{"convert" LINK "Converting"} it from a mount
list entry to a DOSDriver.


@{JCENTER}=== End of Text ===
@{JLEFT}
@ENDNODE

@NODE "Converting" "Part 48 - The MOUNT Command - Converting MountList to DOSDrivers"

@{B}@{U}Converting MountList Entries to DOSDrivers@{UU} Versions 2.1 Onwards@{UB}

The only difference between a device's details in a Mountlist and a
DOSDriver is that the Mountlist can contain details for many devices and
therefore the system must know where each one starts and ends. This is done
by having at these items:-

   Start of individual entry           DeviceName:

   End   of individual entry           #

DOSDrivers do not have these two start and end indicators but everything
else is the same.

See SPEAK: example 7 lines down.

If you have a mountlist entry that you would like to convert to a DOSDriver
then all you need to do is to copy only that entry from the mountlist
file into a new file with a name that is the name of the device, but
without the ":" at the end.

As an example, the SPEAK: @{B}mountlist@{UB} entry is as follows:-

SPEAK:
    Handler = L:Speak-Handler
    Stacksize = 6000
    Priority = 5
    GlobVec = -1
#

To change it into a DOSDriver, just take the part between the "SPEAK:" and
the "#" and put it into its own file. It would look like this:-

    Handler = L:Speak-Handler
    Stacksize = 6000
    Priority = 5
    GlobVec = -1

@{B}Note that the removal of the "SPEAK:" and "#" is the only difference
between a DOSDriver and its equivalent mountlist entry.@{UB}

Save it with the name "SPEAK" to the "Devs:DOSDrivers" drawer or the
"Storage/DOSDrivers" drawer.

Create a "Project" icon for it (or copy another DOSDriver icon) and edit
its @{"Information Window" LINK "ADB:Misc/Glossary/Info_Window"} so that:-

  Default Tool contains:-    C:MOUNT
  Tool Types contains:-      ACTIVATE = 1

The ACTIVATE tool type, if set to 0, will leave some devices inactive
until they are used.

If the new DOSDriver is for a disk drive (e.g. MS0: or MS1:) then another
tool type should be included:-

  UNIT = 0 (for MS0:)

or

  UNIT = 1 (for MS1:)


@{JCENTER}=== End of Text ===
@{JLEFT}
@ENDNODE

@NODE "Dismounting" "Part 48 - The MOUNT Command - DisMounting Devices"

@{B}@{U}DISMOUNTING DEVICES@{UB}@{UU}

A device can be dismounted by using @{"ASSIGN's keyword DISMOUNT" LINK "ADB:Parts_11-20/20.Assign/Dismount"}.

(@{B}Workbench 1.3@{UB} users should use the REMOVE keyword in lieu of DISMOUNT.)

BUT for a RAD: device, this will not free up the memory used by the RAD:.
For this you must use the @{"REMRAD" LINK "RemRad"} command.

@{JCENTER}=== End of Text ===
@{JLEFT}
@ENDNODE

@NODE "RemRad" "Part 48 - The MOUNT Command - The REMRAD Command"

@{B}@{U}The REMRAD Command@{UB}@{UU}

@{B}Location@{UB}     - "C" directory

@{B}Purpose@{UB}      - to remove the recoverable ramdrive device from memory.


@{B}Availability@{UB} - AmigaDOS Versions 1.3 onwards.

REMRAD will remove the @{"recoverable ramdrive device" LINK "ADB:Misc/Glossary/RamDisk"} from memory after it has
been @{"mounted" LINK "Examples"10}.

RAM memory taken up by RAD: will be restored to the system.

All files stored in RAD: @{B}will be lost!!@{UB}

The simple usage (which is the ONLY usage in AmigaDOS 1.3) is:-

  REMRAD

In AmigaDOS versions 2.0 onwards, the options @{"DEVICE" LINK "Remrad"24} and @{"FORCE" LINK "RemRad"47} are
available.

@{B}@{U}The DEVICE Option@{UB}@{UU} AmigaDOS Versions 2.0 onwards

From v2.0 onwards, it is possible to mount more than one RAD: by having
multiple mountlist entries or multiple DOSDriver files and changing the
@{"unit number" LINK "Examples"44}.

The DEVICE option allows the user to nominate which RAD: is to be removed.

If the DEVICE option is NOT used then only UNIT 0 (if present) will be
removed. The DEVICE option MUST be used for UNITS 1 and higher.

It can be used with or without the DEVICE keyword:-

  REMRAD DEVICE devicenumber

  REMRAD devicenumber

If UNIT 2 had been mounted as RAD2: then you would use one of:-

  REMRAD DEVICE RAD2:

  REMRAD RAD2:

@{B}@{U}The FORCE Option@{UB}@{UU} AmigaDOS Versions 2.0 onwards

If the RAD: device being removed is currently in use (e.g. it is being used
as the current directory by some process) then using REMRAD without the
FORCE option will give you this message:-

  <device> is currently still in use - Use FORCE to override

Using the FORCE option will force the device to be removed:-

  REMRAD <DeviceName> FORCE


@{JCENTER}=== End of Text ===
@{JLEFT}






























@ENDNODE
